name: Deploy Flutter Web using GitHub Actions

on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

env:
  BASE_HREF: "/${{ github.event.repository.name }}/"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.29.0'

      - name: Enable Flutter Web
        run: flutter config --enable-web

      - name: Get dependencies
        run: flutter pub get

      - name: Clean previous builds
        run: flutter clean

      - name: Build Flutter Web
        run: flutter build web --release --base-href "$BASE_HREF"

      - name: Remove large or restricted files
        run: rm -f build/web/NOTICES || true

      - name: Check build/web content
        run: ls -la build/web

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: build/web

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
